<a href="https://colab.research.google.com/github/venkat-krish/datascience/blob/master/pandas_primer01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Dataframe object creation
pd.DataFrame({'Yes': [50,21], 'No': [131,2]})

   Yes   No
0   50  131
1   21    2

In [3]:
# Dataframe with text data
pd.DataFrame({'Bob': ['I liked it', 'It was aweful'], 'Sue': ['Preety good.', 'Bland']})

             Bob           Sue
0     I liked it  Preety good.
1  It was aweful         Bland

In [4]:
# Dataframe with text data with index value
pd.DataFrame({'Bob': ['I liked it', 'It was aweful'], 'Sue': ['Preety good.', 'Bland']}, 
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A     I liked it  Preety good.
Product B  It was aweful         Bland

In [5]:
# if DataFrame is table, then Series is List
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
# Assign index values to series
pd.Series([30,32,36], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    32
2017 Sales    36
Name: Product A, dtype: int64